service: bingo-rest-api

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-west-1  # Ajusta según tu región preferida
  stage: production
  memorySize: 2048
  logRetentionInDays: 7
  timeout: 15
  apiGateway:
    binaryMediaTypes:
      - '*/*'
  environment:
    NODE_ENV: ${self:provider.stage}

functions:
  api:
    handler: dist/lambda.handler
    events:
      - http:
          method: ANY
          path: /
      - http:
          method: ANY
          path: '{proxy+}'

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

# custom:
#   serverless-offline:
#     httpPort: 4000  # Puerto para desarrollo local
#     noPrependStageInUrl: true